<h1>Editing campaign</h1>

<%= render "form", campaign: @campaign %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to('Show this Campaign', campaign_path(@campaign), class: 'btn btn-outline-primary') %>
  <%= link_to 'Back To Campaigns', campaigns_path, class: 'btn btn-outline-primary' %>
</div>
