<h1>New line item</h1>

<%= render "form", line_item: @line_item %>

<br>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "Back to Campaign line items", campaign_path(@campaign), class: 'btn btn-outline-primary' %>
</div>

